<%
    cache(15); // Cache file for 15 seconds
%>
<!DOCTYPE HTML>
<html>
    <head>
        <title><%= app.name %></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>Example HTTP app</h1>
        <p>
            Modify <code>index.ejs</code> to change website layout
        </p>
    </body>
</html>
